* {
   box-sizing: border-box;
}

html {
   font-size: 10px;
   background-color: var(--dg);
}

/* FONTS and SIZES
*************************************************/
/* 
font-family: 'Aleo', serif;
font-family: 'Aleo-Bold', serif;
font-family: 'Josefin Sans Italic', sans-serif;
font-family: 'Josefin Sans Bold Italic', sans-serif;
*/


h1 {
   font-family: 'Aleo Bold', serif;
   font-size: 3rem;
}

h2 {
   font-family: 'Aleo', serif;
   font-size: 2.5rem;
   color: var(--lg);
   margin: 2rem 0;
}

h3 {
   font-family: 'Josefin Sans Italic', serif;
   font-size: 2rem;
   margin-bottom: 2rem;
   color: var(--wt);
}

p, a {
   font-family: 'Aleo', serif;
   font-size: 1.5rem;
   text-decoration: none;
   margin-bottom: 1rem;
   color: var(--wt);
}

a:hover {
   color: var(--lg);
}

h1, h2, h3, p, a {
   text-align: center;
   line-height: 1.2;
   letter-spacing: 0.15rem;
}

/************ BANNER ************/
.container-fluid img{
   width: 100%;
   margin-bottom: 5rem;
}

/************ MAIN CONTAINER ************/
.container {
   width: 90%;
   margin: 0 auto;
}

.team-area {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
   grid-row-gap: 5rem;
   grid-column-gap: 2rem;
   justify-items: center;
}

.card {
   display: grid;
   justify-items: center;
}

.manager {
   grid-column: 1 / -1;
}



.card-header img {
   width: 25rem;
   height: 25rem;
   border-radius: 50%;
   border: 2rem solid var(--lg);
}


/* MEDIA QUERIES - SCREEN SIZES
*************************************************/

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}


/* COLORS
*************************************************/
/* Color Theme Swatches in RGBA */
:root {
   --dg: #032202;
   --mg: #1F6032;
   --lg: #369457;
   --wt: #f2f2f2;
}