<div class="card employee-card">
    <div class="card-header">
        <img class="card-title" src="{{ photo }}" alt="" />
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-glasses mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><p>ID: {{ id }}</p></li>
            <li class="list-group-item"><p>Email: <a href="mailto:{{ email }}">{{ email }}</a></p></li>
            <li class="list-group-item"><p>GitHub: <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></p></li>
        </ul>
    </div>
</div>
